<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tremolo || Guitar e-learning</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/course.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
    <%- include('../header_login',{user_render}); %>
    <div class="body_wrapper">
      <%- include('course_aside',{user_render}); %>
        <main class="course_contents">
          <span id="expand_aside"><img src="/images/expand_icon.png" alt="expand_icon" width="25" height="25"></span>
          <div class="content_area">
            <h3>Module 1. Assessment Test</h3>
            <form action="#" method="POST" id="test">
              <!--Q1-->
              <p class="questions"><b>1. What part of the guitar is highlighted in the image below?</b></p>
              <img src="/images/assess/q1-1.png" alt="altContnet" width="300" height="123">
                <input type="radio" name="q1" id="body" value="body">
                <label for="body">A. "Body"</label>
                
                <input type="radio" name="q1" id="neck" value="neck">
                <label for="neck">B. "Neck"</label>
                
                <input type="radio" name="q1" id="headstock" value="headstock">
                <label for="headstock">C. "Headstock"</label>
          
                <input type="radio" name="q1" id="bridge" value="bridge">
                <label for="bridge">D. "Bridge"</label>
          
              <!--Q2-->
              <p class="questions"><b>2. What is the note name of the fourth string?</b></p>
                <input type="radio" name="q2" id="e" value="e">
                <label for="e">A. "E"</label>
                
                <input type="radio" name="q2" id="g" value="g">
                <label for="g">B. "G"</label>
            
                <input type="radio" name="q2" id="d" value="d">
                <label for="d">C. "D"</label>
          
                <input type="radio" name="q2" id="b" value="b">
                <label for="b">D. "B"</label>
          
              <!--Q3-->
              <p class="questions"><b>3. How can you tune your guitar by ear?
              </b></p>
              
                <input type="radio" name="q3" id="1" value="1">
                <label for="1">A. “Play along with recorded music and try to play the same notes.”</label>
                <br>
                <input type="radio" name="q3" id="2" value="2">
                <label for="2">B. “Play the fifth fret of one string, or the fourth fret on the third string, along with the next string open and listen for any dissonance.”
                </label>
                <br>
                <input type="radio" name="q3" id="3" value="3">
                <label for="3">C. “Just use a guitar tuner.”</label>
                <br>
                <input type="radio" name="q3" id="4" value="4">
                <label for="4">D. “Play a chord and try to figure out which strings need to be adjusted.”</label>
          
              <!--Q4-->
              <p class="questions"><b>4. What part of the guitar is highlighted in the diagram below?</b></p>
              <img src="/images/assess/q1-4.png" alt="altContnet" width="300" height="123">
                <input type="radio" name="q4" id="1" value="1">
                <label for="1">A. "Body"</label>
                
                <input type="radio" name="q4" id="2" value="2">
                <label for="2">B. "Fretboard"</label>
          
                <input type="radio" name="q4" id="3" value="3">
                <label for="3">C. "Nut"</label>
          
                <input type="radio" name="q4" id="4" value="4">
                <label for="4">D. "Tuning Keys"</label>
          
              <!--Q5-->
              <p class="questions"><b>5. What is the acronym you can use to remember the string names?
              </b></p>
                <input type="radio" name="q5" id="1" value="1">
                <label for="1">A. “Every Amateur Does Get Better Eventually”</label>
                <br>
                <input type="radio" name="q5" id="2" value="2">
                <label for="2">B. “Every Good Boy Deserves Fudge”</label>
                <br>
                <input type="radio" name="q5" id="3" value="3">
                <label for="3">C. “Electric Butterflies Groove Down All Evening”</label>
                <br>
                <input type="radio" name="q5" id="4" value="4">
                <label for="4">D. “Gravy Goes Better With Potatoes”</label>
              <br>
              <br>
              <input type="submit" value="Submit Answers">
            </form>
          </div>
          <div class="resultModal hidden">
            <h3 id="msgTitle">You passed !</h3>
            <p id="msgContent">Congraturation! You have passed Module.1 Assessment test.</p>
            <p>Correct answer count <b><span id="userCorrectCount">2</span>/5</b></p>
            <p>Your score is <b><span id="userScore">20</span>/100</b></p>
            <form action="/recordAssess" method="POST" id="passRecord">
              <p id="continueRetake">push following "continue" button to open next module.</p>
              <label for="2"></label>
              <input type="hidden" name="moduleNext" value="2">

              <label for="<%= user_render.id %>"></label>
              <input type="hidden" name="user_id" value="<%= user_render.id %>">
              
              <label for="" id="scoreLabel"></label>
              <input type="hidden" name="user_score" value="" id="userScore">

              <label for="1"></label>
              <input type="hidden" name="moduleTest" value="1">

              <input type="submit" value="Continue" id="resultBtn">
            </form>
          </div>
        </main>
    </div>
    <script src="../js/course.js"></script>
    <script>
      const Answers = ['body','d',2,2,1];
      let selected =[];
      let userAnswers =[];
      let answerCount = 0;
      let unitScore = 20;
      let totalScore = 0;
    </script>
    <script src="../js/assessment.js"></script>
</body>
</html>