@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato&family=Oleo+Script+Swash+Caps&display=swap');
// UTILITY ************************************************
// Color BG //
$main: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(16, 40, 92, 1) 100%);
$sub: #f4f4f4ab;
$accent: #7bfff4;
$accent_dark: #20857c;
$text: #fff;
$box_border: #fff;
$box_t_bg: rgb(71, 71, 71);
$box_tran_bg: rgba(46, 46, 46, 0.3);
$input_field_white: rgba(255, 255, 255, 0.25);
// Size //
// Font
$t_regular: 1rem;
$t_mini: 0.75rem;
$t-small: 0.85rem;
$t_large: 1.5rem;
// Font
// $t_title :;
// $t_body: "Dosis", "times", "sans-serif";
$t_body: 'Inter', "times", "sans-serif";
// $t_accent :;

// Spacing //
$view_max: 100ch;
$view_narrow: 50ch;

@mixin button() {
  padding: 0.5rem 1rem;
  background-color: $accent_dark;
  font-weight: bold;
  font-family: $t_body;
  color: $text;
  border: none;
  border-radius: 25px;
}
@mixin bg_blur_black() {
  background-color: $box_tran_bg;
  backdrop-filter: blur(7px);
}
// *********************************************************
div.body_wrapper {
  margin: 0 auto;
  max-width: $view_max;
  padding: 1rem;
  display: flex;
  position: relative;
}
aside.module_list,
main {
  padding: 1rem;
  border-radius: 15px;
  max-width: 900px;
  transition: .5s all;
}
aside.module_list {
  padding: 1.5rem;
  min-width: 310px;
  margin-right: 1rem;
  min-height: 500px;
  background-color: rgba(153, 153, 153, 0.1);
  position:relative;
  left:0;
}
aside.module_list:hover{
  background-color: rgba(153, 153, 153, 0.25);
}
.aside_hidden{
  position: absolute;
  opacity:0;
  left: -250px;
  min-width: 250px;
  margin-right: 1rem;
  border-radius: 15px;
  padding: 1rem;
  min-height: 500px;
  background-color: rgba(153, 153, 153, 0.1);
  transition: .25s all ease-in-out;
}
div.aside_top {
  display: flex;
  justify-content: space-between;
  div.progress_family {
    width: 80%;
    span.progress_text {
      display: flex;
      justify-content: space-between;
    }
  }
  img#close_aside:hover{
    cursor: pointer;
  }
}
div.progress_bar {
  margin-top: 0.5rem;
  width: 100%;
  height: 5px;
  background-color: rgb(90, 90, 90);
  position: relative;
  span.meter {
    position: absolute;
    height: 100%;
    background-color: #fff;
  }
}
ul.modules {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  border-top: 1px solid rgba(255,255,255,.5);
  li {
    list-style-type: none;
    padding: 0.75rem 0;
    position: relative;
    span.module_list {
      display: flex;
      justify-content: space-between;
      font-weight: bolder;
      &:hover{
        color:$accent_dark;
        cursor: pointer;
      }
      span.expandIcon{
        font-weight: bolder;
        font-size: 1.25rem;
      }
    }
  }
}
ul.sub_module_list {
  padding-left: 0.5rem;
  transition: .5s all;
  display: none;
  li.sub_modules {
    padding: 0.5rem 0;
    list-style-type:square;
    margin-left: 1rem;
    a:hover{
      color:$accent_dark;
      // font-weight: bold;
    }
  }
}
// Animated Classes
ul.on{
  display:block;
}
.deactive{
  color:rgb(117, 117, 117);
  a{
    color:rgb(117, 117, 117);
  }
  &:hover{
    color:rgb(117, 117, 117);
  }
}
// --------------------------
main.course_contents {
  padding: 0;
  // display:flex;
  position: relative;
  width:100%;
}
span#expand_aside{
  width: 25px;
  height: 25px;
  margin-right:.5rem;
  display:none;
  &:hover{
    cursor: pointer;
  }
  img{
    width:25px;
    height:25px;
    border-radius: 5px;
  }
}
div.content_area{
  width:100%;
  h3{
    text-align: center;
  }
  ul.contentList{
    padding-left:1rem;
  }
  form#continueForm{
    text-align: center;
    input#continueBtn{
      @include button();
    }
  }
}
form#test{
  img{
    display:block;
    margin-bottom: 1rem;
  }
  p.questions{
    margin-top: 2rem;
    text-decoration: underline;
  }
  input[type=radio]{
    margin-bottom: .5rem;
  }
  input[type=submit]{
    @include button();
  }
}
div.resultModal{
  position: absolute;
  top:220px; left:50%;
  transform: translate(-50%,-50%);
  width:50ch;
  height:23rem;
  background-color: rgba(0, 0, 0, .8);
  border: 1px solid $box_border;
  border-radius: 10px;
  padding:1rem;
  text-align: center;
  margin:0 auto;
  p{
    margin:.5rem;
  }
  p#msgContent{
    margin-bottom: 2rem;
  }
  form{
    margin-top:2rem;
  }
  button#closeBtn{
    @include button();
    width:30%;
    margin: 2rem;
  }
}
input#resultBtn{
  @include button();
  width:30%;
  margin: 2rem;
}