@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
// UTILITY ************************************************
// Color BG //
$main: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(16, 40, 92, 1) 100%);
$sub: #f4f4f4ab;
$accent: #7bfff4;
$accent_dark: #20857c;
$text: #fff;
$box_border: #fff;
$box_t_bg: rgb(71, 71, 71);
$box_tran_bg: rgba(46, 46, 46, 0.3);
$input_field_white: rgba(255, 255, 255, 0.25);
// Size //
// Font
$t_regular: 1rem;
$t_mini: 0.75rem;
$t-small: 0.85rem;
$t_large: 1.5rem;
// Font
// $t_title :;
$t_body: "Dosis", "times", "sans-serif";
// $t_accent :;

// Spacing //
$view_max: 100ch;
$view_narrow: 50ch;

@mixin button() {
  padding: 0.5rem 1rem;
  background-color: $accent_dark;
  font-weight: bold;
  font-family: $t_body;
  color: $text;
  border: none;
  border-radius: 25px;
}
@mixin bg_blur_black() {
  background-color: $box_tran_bg;
  backdrop-filter: blur(7px);
}
// *********************************************************
* {
  box-sizing: border-box;
}
body {
  font-family: $t_body;
  background-color: #000;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $text;
  margin: 0;
}
a {
  color: $text;
  text-decoration: none;
}
// HEADER (Non-LOGIN)
header {
  width:100%;
  position:sticky;
  top:0;
  z-index: 99;
  // border-bottom:1px solid white ;
  div.header_wrapper{
    margin: 0 auto;
    // padding: 1rem 0;
    max-width: $view_max;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }
  div.header_blur{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    @include bg_blur_black();
    z-index: 10;
  }
}
h1 {
  display: none;
}
ul.navigation {
  display: flex;
  align-items: center;
  li {
    padding: 0 1rem;
    list-style-type: none;
    font-weight: bold;
  }
  li#loginListItem {
    position: relative;
  }
}
a#signup {
  color: $accent;
  text-decoration: underline;
}
form.login_modal {
  position: absolute;
  top: 1.5rem;
  right: 0;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: $box_t_bg;
  flex-direction: column;
  input.login_input {
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 1rem;
  }
  input[type="submit"] {
    @include button();
    width: 100%;
    border-radius: 0;
  }
}

// HEADER FOR LOGIN USER
header.login {
  width:100%;
  position:sticky;
  top:0;
  z-index: 99;
  div.header_wrapper_login{
    margin: 0 auto;
    max-width: $view_max;
    display: flex;
    position: relative;
    align-items: center;
    z-index: 999;
  }
}
div.user_field {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  img.user_photo {
    border-radius: 20px;
  }
  img.user_photo_big {
    border-radius: 50%;
  }
  div.user_field_text {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    z-index: 99;
  }
  span#user_panel_triger:hover {
    cursor: pointer;
  }
}
div.user_panel {
  position: absolute;
  background-color: $box_t_bg;
  border-radius: 10px;
  padding: 1rem;
  top: 60px;
  right: 0;
  align-items: center;
  display: flex;
  div.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;
  }
}
ul.user_section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  border-left: 1px solid $box_border;
  li {
    list-style-type: none;
    width: 100px;
    padding: 0.1rem 0;
  }
  li:hover {
    text-decoration: underline;
  }
}
span.user_name,
span.user_email {
  font-weight: 400;
}
span.user_email {
  font-size: $t_small;
}

// ******************************************************
// INDEX following
p#banner_intro {
  max-width: $view_narrow;
  z-index: 1;
}
a.banner_btn {
  @include button();
  font-size: small;
}
section#top_banner {
  height: 20rem;
  position: relative;
  z-index: 0;
  article.top_banner_contents {
    position: relative;
    max-width: $view_max;
    margin: 0 auto;
    padding: 5rem 0;
    z-index: 5;
    height: 100%;
  }
  div#blur_bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    @include bg_blur_black();
    opacity:.5;
    transition: 1s all;
  }
}
h2.indexTitle{
  margin-top: 0;
}
section#course{
  height:1570px;
  max-width: $view_max;
  padding-top:2rem;
  margin:0 auto;
  position:relative;
  article.courseInfo{
    margin: 0 auto;
    float: left;
  }
  img.courseInfo{
    margin: 3rem 0;
    opacity:0;
    transition:.75s all ease-in-out;
    &.courseInfo:nth-of-type(1){
      margin-top:0;
    }
  }
  img.show_pic{
    opacity:1;
  }
  div.courseItems{
    margin-top: 10rem;
    // position: sticky;
    top:110px;
    opacity:0;
    transition: all .5s ease-in-out;
    p{
      max-width: $view_narrow;
    }
  }
  div.show_course{
    opacity:1;
  }
  div.courseItems:nth-child(1){
    margin-top: 0;
  }
  img.courseInfo{
    float: right;
    position: sticky;
    top:110px;
  }
}
section#instructor{
  width:100%;
  // height:300px;
  padding:2rem 0;
  position:relative;
  h2{
    text-align: center;
    z-index: 10;
    position: relative;
  }
  div.instructor_blur{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    @include bg_blur_black();
    z-index: 1;
    opacity:.5;
  }
  article{
    max-width: $view_max;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    div.instructor_text{
      max-width: 40ch;
      p#instr_p{
        margin-top: 0;
      }
    }
  }
}
section#tuition{
  width:100%;
  padding-top: 2rem;
  position:sticky;
  top:100px;
  h2{
    text-align: center;
  }
  div.tuition_cards{
    max-width: $view_max;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    article{
      width:200px;
      height:280px;
      border-radius: 10px;
      padding:1rem;
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      h3{
        margin-top:0;
        padding-bottom: .25rem;
        font-style: italic;
        border-bottom: 1px solid $text;
        width:100%;
        text-align: center;
      }
      ul{
        padding:0;
        margin-top:0;
      }
      a{
        @include button();
        border: 1px solid $box_border;
      }
      &:nth-of-type(1){
        background: rgb(68,133,59);
        background: linear-gradient(120deg,
        rgba(68,133,59,1) 0%,
        rgb(33, 189, 116) 50%,
        rgb(17, 146, 197) 100%);
      }
      &:nth-of-type(2){
        background: rgb(17, 70, 168);
        background: linear-gradient(120deg,
        rgb(20, 204, 143) 0%,
        rgb(17, 153, 207) 50%,
        rgb(50, 18, 194) 100%)
      }
      &:nth-of-type(3){
        background: rgb(123, 11, 175);
        background: linear-gradient(120deg,
        rgb(50, 18, 194) 0%,
        rgb(88, 23, 207) 50%,
        rgb(202, 13, 202) 100%);
      }
    }
  }
}
section#testimonial{
  width:100%;
  height:500px;
  padding-top: 2rem;
  position:relative;
  h2{
    text-align: center;
  }
}
// SIGNUP PAGE
section.signup {
  max-width: $view_narrow;
  margin: 0 auto;
  text-align: center;
}
form.signup {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  row-gap: 1rem;
  margin: 2rem 1rem;
  padding: 1rem;
  border: 1px solid $box_border;
  input {
    background: none;
    outline: 0;
    border-width: 0 0 1px;
    border-color: #fff;
    color: $accent;
  }
  input::placeholder {
    color: #b1b1b1;
    font-style: italic;
  }
  input[type="submit"] {
    grid-column: 1/3;
    background-color: $accent_dark;
    color: $text;
    border: none;
    padding: 0.5rem 0;
  }
}
img.google {
  width: 50%;
}
// **********************************************************
// ACCOUNT PAGE
main.account {
  margin: 0 auto;
  max-width: $view_max;
  section#account_total {
    @include bg_blur_black();
    padding: 2rem;
    article#profile {
      border-bottom: 1px solid $box_border;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }
  }
}
h3.account_items {
  margin: 0;
  margin-bottom: 1rem;
}
div.account_items {
  display: flex;
  form.user_photo_field {
    flex: 3;
  }
  form#user_profile {
    flex: 7;
  }
}
form.user_photo_field {
  display: flex;
  flex-direction: column;
  align-items: center;
  img.user_photo_account {
    border-radius: 50px;
  }
  input[type="file"]::file-selector-button:hover {
    background: $accent;
  }
  input[type="file"]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: $accent_dark;
    padding: 5px 10px;
    border-radius: 10px;
    color: $text;
    font-size: $t_mini;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
  }
}
form#user_profile {
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 60ch;
  input {
    margin: 0.25rem 0;
    padding: 0.25rem 0.55rem;
    background-color: $input_field_white;
    color: $text;
    border: none;
    width: 100%;
  }
  div#userName {
    display: flex;
    width: 100%;
    input#fname {
      margin-right: 0.25rem;
    }
  }
  input[type="submit"] {
    @include button();
    width: 25%;
    background-color: $accent_dark;
  }
}
div.course_info {
  display: flex;
  div.plan {
    flex: 3;
  }
  ul.course_text_list {
    flex: 7;
  }
}
div.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    border: 1px solid black;
  }
  a {
    @include button();
    text-align: center;
    width: 75%;
    margin-top: 1rem;
  }
}
ul.course_text_list {
  margin: 0;
  padding-left: 2rem;
}
li.course_list_items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  span.item_title {
    font-weight: 800;
  }
  span#progress{
    width:100%;
    margin-right: 1rem;
    display:flex;
    justify-content: space-between;
  }
}
div.progress_bar {
  margin-top: 0.5rem;
  width: 50%;
  height: 5px;
  background-color: rgb(90, 90, 90);
  position: relative;
  span.meter {
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #fff;
  }
}
