<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tremolo || Guitar e-learning</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/course.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
</head>
<body>
    <%- include('header_login',{user_render}); %>
    <div class="body_wrapper">
      <%- include('./modules/course_aside',{user_render}); %>
        <main class="course_contents">
          <span id="expand_aside"><img src="./images/expand_icon.png" alt="expand_icon" width="25" height="25"></span>

        </main>
    </div>
    <script src="../js/course.js"></script>
    <script>
      // MENU EXPAND
      const topMenu = document.querySelectorAll('span.module_list');
      topMenu.forEach((menu,index)=>{
        menu.addEventListener('click',function(){
          this.nextElementSibling.classList.toggle('on');
          this.childNodes[1].innerHTML = "-";
          topMenu.forEach(function(otherMenu, index2){
            if(index !== index2){
              otherMenu.nextElementSibling.classList.remove('on')
              otherMenu.childNodes[1].innerHTML = "+";
            }
          })
        })
      })
    </script>
</body>
</html>