<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tremolo || Guitar e-learning</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/course.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
</head>
<body>
    <%- include('header_login',{user_render}); %>
    <div class="body_wrapper">
        <aside class="module_list">
          <div class="aside_top">
            <div class="progress_family">
              <span class="progress_text">Course Progress<span>50%</span></span>
              <div class="progress_bar">
                <span class="meter"></span>
              </div>
            </div>
            <img src="#" width="20px" height="20px" id="close_aside">
          </div>
          <ul class="modules">
            <li>
              <span class="module_list">Module 1. Basic Information
                  <span>+</span>
              </span>
              <ul class="sub_module_list on">
                  <li class="sub_modules"><a href="#">Anatomy of a Guitar</a></li>
                  <li class="sub_modules"><a href="#">String Names</a></li>
                  <li class="sub_modules"><a href="#">Tuning Your Guitar</a></li>
                  <li class="sub_modules"><a href="#">Module Review</a></li>
                  <li class="sub_modules"><a href="#">Assessment: Module 1</a></li>
              </ul>
            </li>
            <li>
              <span class="module_list">Module 2. Individual Notes
                <span>+</span>
              </span>
              <ul class="sub_module_list">
                  <li class="sub_modules"><a href="#">Rudimentary Music Theory</a></li>
                  <li class="sub_modules"><a href="#">Strings 1-3</a></li>
                  <li class="sub_modules"><a href="#">Strings 4-6</a></li>
                  <li class="sub_modules"><a href="#">Module Review</a></li>
                  <li class="sub_modules"><a href="#">Assessment: Module 2</a></li>
              </ul>
            </li>
            <li>
              <span class="module_list">Module 3. Chords and Scales
                <span>+</span>
              </span>
              <ul class="sub_module_list">
                  <li class="sub_modules"><a href="#">G Major Scale</a></li>
                  <li class="sub_modules"><a href="#">G, C, D Chords</a></li>
                  <li class="sub_modules"><a href="#">Am, Em Chords</a></li>
                  <li class="sub_modules"><a href="#">Module Review</a></li>
                  <li class="sub_modules"><a href="#">Assessment: Module 3</a></li>
              </ul>
            </li>
            <li>
              <span class="module_list">Module 4. All Together
                <span>+</span>
              </span>
              <ul class="sub_module_list">
                  <li class="sub_modules"><a href="#">Chords in Rhythm</a></li>
                  <li class="sub_modules"><a href="#">Scales in Rhythm</a></li>
                  <li class="sub_modules"><a href="#">Scale Patterns</a></li>
                  <li class="sub_modules"><a href="#">Module Review</a></li>
                  <li class="sub_modules"><a href="#">Assessment: Full Module</a></li>
              </ul>
            </li>
          </ul>
        </aside>
        <main class="course_contents">
          <span id="expand_aside"></span>
          <div class="content_area">
            <video src="#" width="100%" height="450px">VIDEO</video>
            <h2>Burning String</h2>
            <p>This is a string in HTML making you crazy</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio voluptate mollitia tenetur nesciunt fugiat provident inventore vero distinctio consectetur, tempore, aut ipsam beatae molestiae velit commodi? Aspernatur magnam quae ex.</p>
          </div>
        </main>
    </div>
    <script src="js/course.js"></script>
    <script>
      const topMenu = document.querySelectorAll('span.module_list');
      topMenu.forEach((menu,index)=>{
        menu.addEventListener('click',function(e){
          e.preventDefault();
          this.nextElementSibling.classList.toggle('on');
          topMenu.forEach(function(otherMenu, index2){
            if(index !== index2){
              otherMenu.nextElementSibling.classList.remove('on')
            }
          })
        })
      })
      const asidepanel = document.querySelector('.module_list')
      close_aside.addEventListener('click',()=>{
        asidepanel.classList.remove('module_list');
        asidepanel.classList.add('aside_hidden');
        expand_aside.style.display="block";
        expand_aside.addEventListener('click',()=>{
          asidepanel.classList.remove('aside_hidden');
          asidepanel.classList.add('module_list');
          expand_aside.style.display="none";
        })
      })

    </script>
</body>
</html>