<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tremolo || Guitar e-learning</title>
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/course.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
</head>
<body>
    <%- include('header_login',{user_render}); %>
    <div class="body_wrapper">
        <aside class="module_list">
            <ul class="modules">
                <li>Module 1. Lorem ipsum</li>
                <li>Module 2. Loresum</li>
                <li>Module 3. Lorem isum</li>
                <li>Module 4. Lorem ipsum tyu</li>
            </ul>
        </aside>
        <main class="course_contents">
            <video src="#" width="100%" height="450px">VIDEO</video>
            <p>Welcome back <b><%= user_render.name %> !</b></p>
            <p><%= user_render.email %></p>
        </main>
    </div>
    <script src="js/main.js"></script>
</body>
</html>