<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tremolo || Guitar e-learning</title>
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
  </head>
  <body>
    <% if(login){%> <%- include('header_login',{user_render}); %> <% } else {%>
    <%- include('header'); %> <% } %>
    <!-- TOP BANNER -->
    <section id="top_banner">
      <article class="top_banner_contents">
        <h2>Your guitar journey, begins here.</h2>
        <p id="banner_intro">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
          aliquid id officiis rerum atque debitis temporibus eligendi inventore,
          magni beatae iusto aut.
        </p>

        <a href="/signup" class="banner_btn">Signup Now</a>
      </article>
      <div id="blur_bg"></div>
    </section>
    <!-- COURSE -->
    <section id="course">
      <article class="courseInfo">
        <div class="courseItems">
          <h2 class="indexTitle">Course</h2>
          <p>So, you’re a beginner! That’s okay, everyone starts at zero. Tremolo is the place to be as a beginner guitar enthusiast. Our lessons will take you from absolute zero, to being able to recognize scales, chords, and everything you need to play full songs. </p>
          <p>Tremolo lessons are designed to give you the time to absorb and truly understand each concept and move forward when you’re ready.</p>
        </div>
        <div class="courseItems">
          <h4>Module. 1</h4>
          <p>The first module will introduce you to the very basics of the guitar. It will be the beginning of 4 easy lessons that will take you from knowing absolutely nothing about the guitar, to being able to play chords, and improvise over them.</p>
          <p>You will be able to recognize different parts of the guitar, where to place your fingers and hands, know the different strings, ways to tune the guitar, and so on.</p>
        </div>
        <div class="courseItems">
          <h4>Module. 2</h4>
          <p>You will be able to recognize different parts of the guitar, where to place your fingers and hands, know the different strings, ways to tune the guitar, and so on.</p>
        </div>
        <div class="courseItems">
          <h4>Module. 3</h4>
          <p>In module 3, you will be learning about chords and scales. It will be quite like what you’ve been doing already in module 2. Playing individual notes, in order. However, this section will apply a bit more of a melodic sensibility to it. You will be starting off with the box system, a simple way to think about the fret board.</p>
        </div>
        <div class="courseItems">
          <h4>Module. 4</h4>
          <p>In module 4, you will take everything that you’ve learned so far, and add some musicality to it. Learn how to strum chords in rhythm, improvise, and combine them. The goal is to make some original music! This is your chance to really have fun with it and put all that knowledge to work. Goodluck.</p>
        </div>
      </article>
      <img src="/images/course1.jpg" alt="" width="330" height="220" class="courseInfo">
      <img src="/images/course2.jpg" alt="" width="330" height="220" class="courseInfo">
      <img src="/images/course3.jpg" alt="" width="330" height="220" class="courseInfo">
      <img src="/images/course4.jpg" alt="" width="330" height="220" class="courseInfo">
      <img src="/images/course5.jpg" alt="" width="330" height="220" class="courseInfo">
    </section>
    <!-- INSTRUCTOR INFO -->
    <section id="instructor">
      <h2 class="otherTitles">Instructor</h2>
      <article>
        <img src="/images/instructor.jpg" alt="instructor photo"width="350" height="200">
        <div class="instructor_text">
          <p id="instr_p">Tremolo partners with the best guitar instructors in the world.</p>
          <p> Having an online platform means we can branch out to the many corners of the globe to highlight and recruit our instructors. 
          </p>
          <p>Every instructor has their own unique style and specialize in specific areas of guitar know-how.</p>
        </div>
      </article>
      <div class="instructor_blur"></div>
    </section>
    <!-- TUITION PLAN -->
    <section id="tuition">
      <h2 class="otherTitles">Tuition Plans</h2>
      <div class="tuition_cards">
        <article>
          <h3>Free</h3>
          <ul>
            <li>7 days Free</li>
            <li>Full Access</li>
            <li></li>
          </ul>
          <a href="#">Register</a>
        </article>
        <article>
          <h3>Premium</h3>
          <ul>
            <li>30 days<br>Subscription</li>
            <li></li>
            <li></li>
          </ul>
          <a href="#">Register</a>
        </article>
        <article>
          <h3>Pro</h3>
          <ul>
            <li>90 days<br>Subscription</li>
            <li></li>
            <li></li>
          </ul>
          <a href="#">Register</a>
        </article>
      </div>
    </section>
    <!-- // TESTIMINIAL -->
    <section id="testimonial">
      <h2 class="otherTitles">Testimonials</h2>
    </section>
    <footer>
    </footer>
    <script src="js/main.js"></script>
    <script src="js/course.js"></script>
    <% if(!tt && !login) {%>
      <script> alert("You need to login in to see course contents!");</script>
    <% } %>
  </body>
</html>