<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tremolo || Guitar e-learning</title>
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
  </head>
  <body>
    <% if(login){%> <%- include('header_login',{user_render}); %> <% } else {%>
    <%- include('header'); %> <% } %>
    <section id="top_banner">
      <article id="top_banner_contents">
        <h2>Your guitar journey, begins here.</h2>
        <p id="banner_intro">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
          aliquid id officiis rerum atque debitis temporibus eligendi inventore,
          magni beatae iusto aut.
        </p>
        <a href="/signup" class="banner_btn">Signup Now</a>
      </article>
      <div id="blur_bg"></div>
    </section>
    <section id="course">

    </section>
    <footer></footer>
    <script src="js/main.js"></script>
    <script src="js/course.js"></script>
    <script></script>
  </body>
</html>
