<%- include('header'); %>
    <section id="top_banner">
        <h3>Start to learn Guitar with Tremolo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aliquid id officiis rerum atque debitis temporibus eligendi inventore, magni beatae iusto aut.
        </p>
    </section>
    <button id="btn">!!!!</button>
    <!-- <section id="course">

    </section>
    <footer>

    </footer> -->
    <script src="js/main.js"></script>
</body>
</html>