<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tremolo || Guitar e-learning</title>
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
  </head>
  <body>
    <% if(login){%> <%- include('header_login',{user_render}); %> <% } else {%>
    <%- include('header'); %> <% } %>
    <!-- TOP BANNER -->
    <section id="top_banner">
      <article class="top_banner_contents">
        <h2 class="hidden_title">Your guitar journey begins here.</h2>
        <p id="banner_intro" class="hidden_title">
          Learn the basics, practice, improvise, improve. Tremolo is your beginning. Start from nothing and build your way up to mastery.
        Crystal clear audio and video, auto pause and resume, and intuitive progress tracking. Tremolo has all the tools you need to succeed as a guitar novice. 
        </p>

        <a href="/signup" class="banner_btn hidden_title">Signup Now</a>
        <% if(login){ %> 
        <a href="/course/m<%= user_render.course.currentM %>-<%= user_render.course.currentSubM %>"class="banner_btn hidden_title" id="resumeBtn">Resume</a>
        <% } %>
      </article>
      <div id="blur_bg"></div>
    </section>
    <!-- COURSE -->
    <section id="course">
      <article class="courseInfo hidden_title">
        <div class="courseItems" id="courseTitle">
          <h2 class="indexTitle">Course Information</h2>
          <p>So, you’re a beginner! That’s okay, everyone starts at zero. Tremolo is the place to be as a beginner guitar enthusiast. Our lessons will take you from absolute zero, to being able to recognize scales, chords, and everything you need to play full songs. </p>
          <p>Tremolo lessons are designed to give you the time to absorb and truly understand each concept and move forward when you’re ready.</p>
        </div>
        <div class="courseItems" id="moduleNo1">
          <h4>Module 1</h4>
          <p>The first module will introduce you to the very basics of the guitar. It will be the beginning of 4 easy lessons that will take you from knowing absolutely nothing about the guitar, to being able to play chords, and improvise over them.</p>
          <p>You will be able to recognize different parts of the guitar, where to place your fingers and hands, know the different strings, ways to tune the guitar, and so on.</p>
        </div>
        <div class="courseItems" id="moduleNo2">
          <h4>Module 2</h4>
          <p>In module 2, you will be learning about individual notes, rudimentary music theory, and natural notes. This section will allow you to take everything you’ve learned in module 1 and apply it to notes. Helpful diagrams will allow you to see exactly where to place each finger for each note. </p>
        </div>
        <div class="courseItems" id="moduleNo3">
          <h4>Module 3</h4>
          <p>In module 3, you will be learning about chords and scales. It will be quite like what you’ve been doing already in module 2. Playing individual notes, in order. However, this section will apply a bit more of a melodic sensibility to it. You will be starting off with the box system, a simple way to think about the fret board.</p>
        </div>
        <div class="courseItems" id="moduleNo4">
          <h4>Module 4</h4>
          <p>In module 4, you will take everything that you’ve learned so far, and add some musicality to it. Learn how to strum chords in rhythm, improvise, and combine them. The goal is to make some original music! This is your chance to really have fun with it and put all that knowledge to work. Goodluck.</p>
        </div>
      </article>
      <article class="imgArray">
        <img src="/images/course1.jpg" alt="" width="330" height="220" class="courseInfo hidden_title">
        <img src="/images/course2.jpg" alt="" width="330" height="220" class="courseInfo hidden_title">
        <img src="/images/course3.jpg" alt="" width="330" height="220" class="courseInfo hidden_title">
        <img src="/images/course4.jpg" alt="" width="330" height="220" class="courseInfo hidden_title">
        <img src="/images/course5.jpg" alt="" width="330" height="220" class="courseInfo hidden_title">
    </article>
    </section>
    <!-- INSTRUCTOR INFO -->
    <section id="instructor">
      <h2 class="otherTitles">Instructors</h2>
      <article>
        <img src="/images/instructor.jpg" alt="instructor photo"width="350" height="200" id="instructorPic">
        <div class="instructor_text" id="instructor_text">
          <p id="instr_p">Tremolo partners with the best guitar instructors in the world.</p>
          <p> Having an online platform means we can branch out to the many corners of the globe to highlight and recruit our instructors. 
          </p>
          <p>Every instructor has their own unique style and specialize in specific areas of guitar know-how.</p>
        </div>
      </article>
      <div class="instructor_blur"></div>
    </section>
    <!-- TUITION PLAN -->
    <section id="tuition">
      <div class="tuitionWrapper">
        <h2 class="otherTitles">Tuition Plans</h2>
        <div class="tuition_cards">
          <article>
            <h3>Free</h3>
            <h4>$ 0</h4>
            <ul>
              <li>&#10003; 7 days Free</li>
              <li>&#10003; Full Access</li>
              <li></li>
            </ul>
            <a href="/signup">Register</a>
          </article>
        </div>
        <div class="tuition_cards">
          <article id="secondTuition">
            <h3>Premium</h3>
            <h4>$ 25</h4>
            <ul>
              <li>&#10003; 30 days Subscription</li>
              <li>&#10003; Full Access</li>
              <li></li>
            </ul>
            <a href="/signup">Register</a>
          </article>
        </div>
        <div class="tuition_cards">
          <article id="thirdTuition">
            <h3>Pro</h3>
            <h4>$ 45</h4>
            <ul>
              <li>&#10003; 90 days Subscription</li>
              <li>&#10003; Full Access</li>
              <li>&#10003; Mentoring</li>
              <li></li>
            </ul>
            <a href="/signup">Register</a>
          </article>
        </div>
      </div>
    </section>
    <!-- // TESTIMINIAL -->
    <section id="testimonial">
      <h2 class="otherTitles">Testimonials</h2>
      <div class="testimonial_contents">
        <div class="comment" id="leftComment">
          <div>
            <img src="../images/comment1.jpg" alt="laura" width="60px" height="60px">
            <h3>Laura</h3>
          </div>
          <p>The guitar lessons have improved my understanding and appreciation of the guitar.</p>
        </div>
        <div class="comment" id="rightComment">
          <div>
            <img src="../images/comment2.jpg" alt="Kristen" width="60px" height="60px">
            <h3>Kristen</h3>
          </div>
          <p>When listening to a song I am able to understand what is being played and how.</p>
        </div>
      </div>
    </section>
    <footer>
      <div class="footerWrapper">
        <ul>
          <li>About</li>
          <li>Copyrights</li>
          <li>Contact
            <span>admin@tremolo.com</span><span>+1(403)472-2948</span><span>3254 Tremolo way NW, Calgary, AB</span>
          </li>
        </ul>
        <div class="tremoloSet">
          <a href="/"><img src="../images/logo.png" alt="tremolo logo" width="120" height="auto"></a>
          <p>2022 Tremolo. All rights Reserved</p>
          <p>&copy; Tremolo</p>
        </div>
      </div>
    </footer>
    <script src="js/main.js"></script>
    <!-- <script src="js/course.js"></script> -->
    <% if(!tt && !login) {%>
      <script> alert("You need to login in to see course contents!");</script>
    <% } %>
    <% if(login) {%>
    <script>
      let user_panel = document.querySelector('.user_panel');
      user_panel_triger.addEventListener('click',()=>{
      user_panel.classList.toggle('show')
      })
      window.addEventListener('wheel',(e)=>{
      let headerpanel_login = document.querySelector('div.header_wrapper_login');
      if(e.deltaY>0){
        headerpanel_login.classList.add('small'); 
        headerpanel_login.classList.remove('large'); 
      } else{ 
        headerpanel_login.classList.add('large'); 
        headerpanel_login.classList.remove('small'); 
  }
})
    </script>
    <% } %>

    <% if(newUser) {%>
      <script> alert("Thank you for singing up Tremolo. Please log in to watch the videos");</script>
    <% } %>
    
  </body>
</html>