<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tremolo || Guitar e-learning</title>
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
</head>
<body>
<%- include('header'); %>
    <section class="signup">
    <h3>Sign up Tremolo to start your guitar journey !</h3>
    <img src="images/logo.png" alt="Tremolo logo" width="120" height="auto">
    <form action="/register" method="POST" class="signup">
        <label for="regis_id">ID</label>
        <input type="text" placeholder="ID" name="regis_id" id="regis_id">

        <label for="regis_pwd">Password</label>
        <input type="password" placeholder="Passowrd" name="regis_pwd" id="regis_pwd">

        <label for="fname">First name</label>
        <input type="text" placeholder="First name" name="fname" id="fname">

        <label for="lname">Last name</label>
        <input type="text" placeholder="Last name" name="lname" id="lname">
        
        <label for="email">email</label>
        <input type="email" placeholder="Email address" name="email" id="email">
        
        <input type="submit" value="Sign up">
    </form>
    <a href="#"><img class="google" src="images/googlelogin.png" alt="google login"></a>
    </section>
    <script src="js/main.js"></script> 
</body>
</html>