/* ANIMATED CLASS RUN BY JS */
.hidden{
    visibility: hidden;
    opacity:0;
    transition: .25s all;
}
.show{
    visibility: visible;
    z-index: 99;
    opacity:1;
}
/* HEADER */
.small{
    padding:.25rem 0;
    transition: .5s all ease-in-out;
}
.large{
    padding:1rem 0;
    transition: .5s all ease-in-out;
}

/* TOP BANNER */
.hidden_title{
    opacity:0;
    visibility: hidden;
    position:absolute;
    bottom: 0;
}
.show_title{
    position:relative;
    opacity:1;
    visibility: visible;
    transition: .5s all ease-in-out;
}