@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato&family=Oleo+Script+Swash+Caps&display=swap");
div.body_wrapper {
  margin: 0 auto;
  max-width: 100ch;
  padding: 1rem;
  display: flex;
  position: relative;
}

aside.module_list,
main {
  padding: 1rem;
  border-radius: 15px;
  max-width: 900px;
  transition: 0.5s all;
}

aside.module_list {
  padding: 1.5rem;
  min-width: 310px;
  margin-right: 1rem;
  min-height: 500px;
  background-color: rgba(153, 153, 153, 0.1);
  position: relative;
  left: 0;
}

aside.module_list:hover {
  background-color: rgba(153, 153, 153, 0.25);
}

.aside_hidden {
  position: absolute;
  opacity: 0;
  left: -250px;
  min-width: 250px;
  margin-right: 1rem;
  border-radius: 15px;
  padding: 1rem;
  min-height: 500px;
  background-color: rgba(153, 153, 153, 0.1);
  transition: 0.25s all ease-in-out;
}

div.aside_top {
  display: flex;
  justify-content: space-between;
}
div.aside_top div.progress_family {
  width: 80%;
}
div.aside_top div.progress_family span.progress_text {
  display: flex;
  justify-content: space-between;
}
div.aside_top img#close_aside:hover {
  cursor: pointer;
}

div.progress_bar {
  margin-top: 0.5rem;
  width: 100%;
  height: 5px;
  background-color: rgb(90, 90, 90);
  position: relative;
}
div.progress_bar span.meter {
  position: absolute;
  height: 100%;
  background-color: #fff;
}

ul.modules {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
ul.modules li {
  list-style-type: none;
  padding: 0.75rem 0;
  position: relative;
}
ul.modules li span.module_list {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}
ul.modules li span.module_list:hover {
  color: #20857c;
  cursor: pointer;
}
ul.modules li span.module_list span.expandIcon {
  font-weight: bolder;
  font-size: 1.25rem;
}

ul.sub_module_list {
  padding-left: 0.5rem;
  transition: 0.5s all;
  display: none;
}
ul.sub_module_list li.sub_modules {
  padding: 0.5rem 0;
  list-style-type: square;
  margin-left: 1rem;
}
ul.sub_module_list li.sub_modules a:hover {
  color: #20857c;
}

ul.on {
  display: block;
}

.deactive {
  color: rgb(117, 117, 117);
}
.deactive a {
  color: rgb(117, 117, 117);
}
.deactive:hover {
  color: rgb(117, 117, 117);
}

main.course_contents {
  padding: 0;
  position: relative;
  width: 100%;
}

span#expand_aside {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
  display: none;
}
span#expand_aside:hover {
  cursor: pointer;
}
span#expand_aside img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

div.content_area {
  width: 100%;
}
div.content_area h3 {
  text-align: center;
}
div.content_area ul.contentList {
  padding-left: 1rem;
}
div.content_area form#continueForm {
  text-align: center;
}
div.content_area form#continueForm input#continueBtn {
  padding: 0.5rem 1rem;
  background-color: #20857c;
  font-weight: bold;
  font-family: "Inter", "times", "sans-serif";
  color: #fff;
  border: none;
  border-radius: 25px;
}

form#test img {
  display: block;
  margin-bottom: 1rem;
}
form#test p.questions {
  margin-top: 2rem;
  text-decoration: underline;
}
form#test input[type=radio] {
  margin-bottom: 0.5rem;
}
form#test input[type=submit] {
  padding: 0.5rem 1rem;
  background-color: #20857c;
  font-weight: bold;
  font-family: "Inter", "times", "sans-serif";
  color: #fff;
  border: none;
  border-radius: 25px;
}

div.resultModal {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50ch;
  height: 23rem;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
}
div.resultModal p {
  margin: 0.5rem;
}
div.resultModal p#msgContent {
  margin-bottom: 2rem;
}
div.resultModal form {
  margin-top: 2rem;
}
div.resultModal button#closeBtn {
  padding: 0.5rem 1rem;
  background-color: #20857c;
  font-weight: bold;
  font-family: "Inter", "times", "sans-serif";
  color: #fff;
  border: none;
  border-radius: 25px;
  width: 30%;
  margin: 2rem;
}

input#resultBtn {
  padding: 0.5rem 1rem;
  background-color: #20857c;
  font-weight: bold;
  font-family: "Inter", "times", "sans-serif";
  color: #fff;
  border: none;
  border-radius: 25px;
  width: 30%;
  margin: 2rem;
}/*# sourceMappingURL=course.css.map */