@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato&family=Oleo+Script+Swash+Caps&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", "times", "sans-serif";
  background-color: #000;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  margin: 0;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}
header div.header_wrapper {
  margin: 0 auto;
  max-width: 90ch;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
header div.header_blur {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 46, 0.3);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  z-index: 10;
}

h1 {
  display: none;
}

ul.navigation {
  display: flex;
  align-items: center;
}
ul.navigation li {
  padding: 0 1rem;
  list-style-type: none;
  font-weight: bold;
}
ul.navigation li#loginListItem {
  position: relative;
}

a#signup {
  color: #7bfff4;
  text-decoration: underline;
}

form.login_modal {
  position: absolute;
  top: 1.5rem;
  right: 0;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(71, 71, 71);
  flex-direction: column;
}
form.login_modal input.login_input {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 1rem;
  color: #fff;
}
form.login_modal input[type=submit] {
  padding: 0.5rem 1rem;
  background-color: #20857c;
  font-weight: bold;
  font-family: "Inter", "times", "sans-serif";
  color: #fff;
  border: none;
  border-radius: 25px;
  width: 100%;
  border-radius: 0;
}

header.login {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}
header.login div.header_wrapper_login {
  margin: 0 auto;
  max-width: 90ch;
  display: flex;
  position: relative;
  align-items: center;
  z-index: 999;
}

div.user_field {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}
div.user_field img.user_photo {
  border-radius: 20px;
}
div.user_field img.user_photo_big {
  border-radius: 50%;
}
div.user_field div.user_field_text {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  z-index: 99;
}
div.user_field span#user_panel_triger:hover {
  cursor: pointer;
}

div.user_panel {
  position: absolute;
  background-color: rgb(71, 71, 71);
  border-radius: 10px;
  padding: 1rem;
  top: 60px;
  right: 0;
  align-items: center;
  display: flex;
}
div.user_panel div.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.5rem;
}

ul.user_section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  border-left: 1px solid #fff;
}
ul.user_section li {
  list-style-type: none;
  width: 100px;
  padding: 0.1rem 0;
}
ul.user_section li:hover {
  text-decoration: underline;
}

span.user_name,
span.user_email {
  font-weight: 400;
}

span.user_email {
  font-size: 0.85rem;
}

p#banner_intro {
  max-width: 50ch;
  z-index: 1;
  margin-bottom: 2rem;
}

a.banner_btn {
  padding: 0.5rem 1rem;
  background-color: #20857c;
  font-weight: bold;
  font-family: "Inter", "times", "sans-serif";
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: small;
  margin-right: 1rem;
  font-style: italic;
}

a#resumeBtn {
  background-color: rgb(71, 71, 71);
}

section#top_banner {
  height: 30rem;
  position: relative;
  z-index: 0;
}
section#top_banner article.top_banner_contents {
  position: relative;
  max-width: 90ch;
  margin: 0 auto;
  padding: 5rem 0;
  z-index: 5;
  height: 100%;
}
section#top_banner article.top_banner_contents h2 {
  font-size: 2.5rem;
}
section#top_banner div#blur_bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(46, 46, 46, 0.3);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  opacity: 0.5;
  transition: 1s all;
}

h2.indexTitle {
  margin-top: 0;
  margin-bottom: 3rem;
}

h2.otherTitles {
  margin-bottom: 3rem;
}

section#course {
  height: 1570px;
  max-width: 90ch;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  position: relative;
  display: flex;
}
section#course article.courseInfo {
  margin: 0 auto;
  width: 100%;
  min-width: 50ch;
}
section#course article.imgArray {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section#course img.courseInfo {
  margin: 0;
  opacity: 0;
  border-radius: 15px;
  transition: 0.75s all ease-in-out;
}
section#course img.courseInfo.courseInfo:nth-of-type(1) {
  margin-top: 0;
}
section#course img.show_pic {
  opacity: 1;
}
section#course div.courseItems {
  min-height: 19rem;
  top: 110px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
section#course div.courseItems p {
  max-width: 50ch;
}
section#course div.show_course {
  opacity: 1;
}
section#course img.courseInfo {
  float: right;
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
}

section#instructor {
  width: 100%;
  padding: 2rem 0;
  position: relative;
  overflow: hidden;
}
section#instructor h2 {
  text-align: center;
  z-index: 10;
  position: relative;
}
section#instructor div.instructor_blur {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 46, 0.3);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  z-index: 1;
  opacity: 0.5;
}
section#instructor article {
  max-width: 90ch;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
}
section#instructor article div.instructor_text {
  max-width: 40ch;
  margin-left: 2rem;
  transform: translateX(-2000px);
  transition: all 0.75s ease-in-out;
}
section#instructor article div.instructor_text p#instr_p {
  margin-top: 0;
}
section#instructor article img#instructorPic {
  transform: translateX(-1000px);
  transition: all 0.5s ease-in-out;
}

section#tuition {
  width: 100%;
  padding-top: 2rem;
  top: 100px;
}
section#tuition h2 {
  text-align: center;
}
section#tuition div.tuitionWrapper {
  height: 2000px;
  display: flex;
  flex-direction: column;
  max-width: 90ch;
  margin: 0 auto;
  padding-top: 5rem;
}
section#tuition div.tuitionWrapper div.tuition_cards {
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
  margin: 7.5rem 5rem;
  opacity: 0.1;
  transition: all 0.5s ease-in-out;
}
section#tuition div.tuitionWrapper div.tuition_cards:nth-of-type(1) {
  -webkit-margin-end: auto;
          margin-inline-end: auto;
}
section#tuition div.tuitionWrapper div.tuition_cards:nth-of-type(2) {
  margin-inline: auto;
}
section#tuition div.tuitionWrapper div.tuition_cards:nth-of-type(3) {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}
section#tuition div.tuitionWrapper div.tuition_cards article {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section#tuition div.tuitionWrapper div.tuition_cards article:nth-of-type(1) {
  background: rgb(68, 133, 59);
  background: linear-gradient(120deg, rgb(68, 133, 59) 0%, rgb(33, 189, 116) 50%, rgb(17, 146, 197) 100%);
}
section#tuition div.tuitionWrapper div.tuition_cards article#secondTuition {
  background: rgb(17, 70, 168);
  background: linear-gradient(120deg, rgb(20, 204, 143) 0%, rgb(17, 153, 207) 50%, rgb(50, 18, 194) 100%);
}
section#tuition div.tuitionWrapper div.tuition_cards article#thirdTuition {
  background: rgb(123, 11, 175);
  background: linear-gradient(120deg, rgb(50, 18, 194) 0%, rgb(88, 23, 207) 50%, rgb(202, 13, 202) 100%);
}
section#tuition div.tuitionWrapper div.tuition_cards article h3 {
  margin-top: 0;
  padding-bottom: 0.25rem;
  font-style: italic;
  border-bottom: 1px solid #fff;
  width: 100%;
  text-align: center;
}
section#tuition div.tuitionWrapper div.tuition_cards article h4 {
  margin: 0;
  font-size: 2rem;
}
section#tuition div.tuitionWrapper div.tuition_cards article ul {
  padding: 0;
  padding-left: 2rem;
  margin-top: 0;
  text-align: left;
}
section#tuition div.tuitionWrapper div.tuition_cards article ul li {
  min-width: 20ch;
  list-style-type: none;
}
section#tuition div.tuitionWrapper div.tuition_cards article a {
  padding: 0.5rem 1rem;
  background-color: #20857c;
  font-weight: bold;
  font-family: "Inter", "times", "sans-serif";
  color: #fff;
  border: none;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 0.75rem;
}

section#testimonial {
  width: 100%;
  margin: 2rem auto;
  overflow: hidden;
}
section#testimonial h2 {
  text-align: center;
}
section#testimonial div.testimonial_contents {
  display: flex;
  justify-content: center;
  max-width: 90ch;
  margin: 0 auto;
}
section#testimonial div.testimonial_contents div.comment {
  max-width: 50ch;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  height: 100%;
  margin: 1rem;
  background: url(../images/comment.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section#testimonial div.testimonial_contents div.comment div {
  display: flex;
}
section#testimonial div.testimonial_contents div.comment div img {
  border-radius: 50%;
}
section#testimonial div.testimonial_contents div.comment div h3 {
  margin-left: 2rem;
}
section#testimonial div.testimonial_contents div#leftComment {
  transform: translateX(-1000px);
  transition: all 0.75s ease-in-out;
}
section#testimonial div.testimonial_contents div#rightComment {
  transform: translateX(1000px);
  transition: all 0.75s ease-in-out;
}

footer {
  width: 100%;
  background-color: rgba(46, 46, 46, 0.3);
  padding: 1rem;
  padding-top: 5rem;
  height: 20rem;
}
footer div.footerWrapper {
  margin: 0 auto;
  max-width: 90ch;
  display: flex;
  justify-content: space-between;
}
footer div.footerWrapper ul {
  display: flex;
  width: 100%;
  padding: 0;
}
footer div.footerWrapper ul li {
  list-style-type: none;
  font-style: italic;
  margin-right: 8rem;
  text-decoration: underline;
}
footer div.footerWrapper ul li:nth-of-type(3) {
  margin-right: 0;
  width: 100%;
}
footer div.footerWrapper ul li:nth-of-type(3) span {
  display: block;
  font-size: small;
  text-decoration: none;
  font-style: none;
  margin: 0.5rem 0;
  width: 100%;
}
footer div.footerWrapper div.tremoloSet {
  text-align: right;
  width: 100%;
}

section.signup {
  max-width: 50ch;
  margin: 0 auto;
  text-align: center;
}

form.signup {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  row-gap: 1rem;
  margin: 2rem 1rem;
  padding: 1rem;
  border: 1px solid #fff;
}
form.signup input {
  background: none;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #fff;
  color: #7bfff4;
}
form.signup input::-moz-placeholder {
  color: #b1b1b1;
  font-style: italic;
}
form.signup input:-ms-input-placeholder {
  color: #b1b1b1;
  font-style: italic;
}
form.signup input::placeholder {
  color: #b1b1b1;
  font-style: italic;
}
form.signup input[type=submit] {
  grid-column: 1/3;
  background-color: #20857c;
  color: #fff;
  border: none;
  padding: 0.5rem 0;
}
form.signup p.plan {
  margin: 0;
}

img.google {
  width: 50%;
}

main.account {
  margin: 0 auto;
  max-width: 80ch;
  margin-bottom: 4rem;
}
main.account section#account_total {
  background-color: rgba(46, 46, 46, 0.3);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  padding: 2rem;
}
main.account section#account_total article#profile {
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

h3.account_items {
  margin: 0;
  margin-bottom: 1rem;
}

div.account_items {
  display: flex;
}
div.account_items form.user_photo_field {
  flex: 3;
}
div.account_items form#user_profile {
  flex: 7;
}

form.user_photo_field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form.user_photo_field img.user_photo_account {
  border-radius: 50px;
}
form.user_photo_field input[type=file]::-webkit-file-upload-button:hover {
  background: #7bfff4;
}
form.user_photo_field input[type=file]::file-selector-button:hover {
  background: #7bfff4;
}
form.user_photo_field input[type=file]::-webkit-file-upload-button {
  margin-right: 20px;
  border: none;
  background: #20857c;
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 0.75rem;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
form.user_photo_field input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #20857c;
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 0.75rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

form#user_profile {
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 60ch;
}
form#user_profile input {
  margin: 0.25rem 0;
  padding: 0.25rem 0.55rem;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  border: none;
  width: 100%;
}
form#user_profile div#userName {
  display: flex;
  width: 100%;
}
form#user_profile div#userName input#fname {
  margin-right: 0.25rem;
}
form#user_profile input[type=submit] {
  padding: 0.5rem 1rem;
  background-color: #20857c;
  font-weight: bold;
  font-family: "Inter", "times", "sans-serif";
  color: #fff;
  border: none;
  border-radius: 25px;
  width: 25%;
  background-color: #20857c;
}

div.course_info {
  display: flex;
  flex: 3;
}
div.course_info div.plan {
  flex: 3;
}
div.course_info ul.course_text_list {
  flex: 7;
}

div.planBuy {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.planBuy article#premium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-width: 220px;
  border-radius: 10px;
  background: rgb(17, 70, 168);
  background: linear-gradient(120deg, rgb(20, 204, 143) 0%, rgb(17, 153, 207) 50%, rgb(50, 18, 194) 100%);
}
div.planBuy article#premium h4 {
  margin: 0;
  font-size: 1.5rem;
}
div.planBuy article#premium ul {
  padding: 0;
}
div.planBuy article#premium ul li {
  list-style-type: none;
}
div.planBuy article#premium a {
  padding: 0.5rem 1rem;
  background-color: #20857c;
  font-weight: bold;
  font-family: "Inter", "times", "sans-serif";
  color: #fff;
  border: none;
  border-radius: 25px;
  text-align: center;
  font-size: small;
  width: 75%;
  margin-top: 1rem;
}

ul.course_text_list {
  margin: 0;
  padding-left: 2rem;
}

li.course_list_items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
li.course_list_items span.item_title {
  font-weight: 800;
}
li.course_list_items span#progress {
  width: 100%;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
}

li.certBtn {
  justify-content: flex-end;
}
li.certBtn a#certificateBtn {
  padding: 0.5rem 1rem;
  background-color: #20857c;
  font-weight: bold;
  font-family: "Inter", "times", "sans-serif";
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: smaller;
}

div.progress_bar {
  margin-top: 0.5rem;
  width: 50%;
  height: 5px;
  background-color: rgb(90, 90, 90);
  position: relative;
}
div.progress_bar span.meter {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #fff;
}/*# sourceMappingURL=main.css.map */