@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Dosis", "times", "sans-serif";
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(16, 40, 92) 100%);
  color: #fff;
  height: 100vh;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 90ch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: none;
}

ul.navigation {
  display: flex;
  align-items: center;
}
ul.navigation li {
  padding: 0 1rem;
  list-style-type: none;
  font-weight: bold;
}
ul.navigation li#loginListItem {
  position: relative;
}

a#signup {
  color: #7bfff4;
  text-decoration: underline;
}

form.login_modal {
  position: absolute;
  z-index: 99;
  top: 1.5rem;
  right: 0;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.25);
}
form.login_modal input.login_input {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 1rem;
}
form.login_modal input[type=submit] {
  padding: 0.5rem 1rem;
  background-color: #20857c;
  font-weight: bold;
  font-family: "Dosis", "times", "sans-serif";
  color: #fff;
  border: none;
  border-radius: 25px;
  width: 100%;
  border-radius: 0;
}

section#top_banner {
  height: 20rem;
  position: relative;
  z-index: 0;
}
section#top_banner div#top_banner_contents {
  position: relative;
  max-width: 90ch;
  margin: 0 auto;
  padding: 5rem 0;
  z-index: 5;
  height: 100%;
}
section#top_banner div#blur_bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(37, 27, 19, 0.5);
}

header.login {
  display: flex;
  justify-content: unset;
  position: relative;
}

div.user_field {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 99;
}
div.user_field img.user_photo {
  border-radius: 20px;
}
div.user_field div.user_field_text {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  z-index: 99;
}
div.user_field div#user_panel {
  position: absolute;
  border: 1px solid greenyellow;
  padding: 1rem;
  top: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

span.user_name, span.user_email {
  font-weight: 400;
}

span.user_email {
  font-size: 0.85rem;
}

section.signup {
  max-width: 50ch;
  margin: 0 auto;
  text-align: center;
}

form.signup {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  row-gap: 1rem;
  margin: 2rem 1rem;
  padding: 1rem;
  border: 1px solid #fff;
}
form.signup input {
  background: none;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #fff;
  color: #7bfff4;
}
form.signup input::-moz-placeholder {
  color: #b1b1b1;
  font-style: italic;
}
form.signup input:-ms-input-placeholder {
  color: #b1b1b1;
  font-style: italic;
}
form.signup input::placeholder {
  color: #b1b1b1;
  font-style: italic;
}
form.signup input[type=submit] {
  grid-column: 1/3;
  background-color: #20857c;
  color: #fff;
  border: none;
  padding: 0.5rem 0;
}

img.google {
  width: 50%;
}

p#banner_intro {
  max-width: 50ch;
  z-index: 1;
}

button.banner_btn {
  padding: 0.5rem 1rem;
  background-color: #20857c;
  font-weight: bold;
  font-family: "Dosis", "times", "sans-serif";
  color: #fff;
  border: none;
  border-radius: 25px;
}/*# sourceMappingURL=main.css.map */