@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');
// UTILITY ************************************************
// Color BG //
$main : linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(16,40,92,1) 100%);;
$sub : #f4f4f4ab;
$accent : #7bfff4;
$accent_dark : #20857c;
$text : #fff;
$box_border : #fff;
// Size //
    // Font
    $t_regular : 1rem;
    $t_mini : .75rem;
    $t-small: .85rem;
    $t_large : 1.5rem;
// Font
// $t_title :;
$t_body :'Dosis', 'times','sans-serif';
// $t_accent :;

// Spacing //
$view_max : 90ch;
$view_narrow : 50ch;

@mixin button(){
    padding: .5rem 1rem;
    background-color: $accent_dark;
    font-weight: bold;
    font-family: $t_body;
    color: $text;
    border: none;
    border-radius: 25px;
}
// *********************************************************
*{
    box-sizing:border-box;
}
body{
    font-family: $t_body;
    background: $main;
    color:$text;
    height:100vh;
    margin:0;
}
a{
    color:$text;
    text-decoration: none;
}
// HEADER
header{
    margin: 0 auto;
    padding: 1rem 0;
    max-width: $view_max;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    display:none;
}
ul.navigation{
    display:flex;
    align-items: center;
    li{
        padding: 0 1rem;
        list-style-type: none;
        font-weight: bold;
    }
    li#loginListItem{
        position: relative;
    }
}
a#signup{
    color:$accent;
    text-decoration: underline;
}
form.login_modal{
    position: absolute;
    z-index: 99;
    top: 1.5rem;
    right:0;
    padding:2rem;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(255,255,255,.25);
    input.login_input{
        background: none;
        border: none;
        border-bottom: 1px solid #fff;
        margin-bottom: 1rem;
    }
    input[type=submit]{
        @include button();
        width: 100%;
        border-radius: 0;
    }
}

section#top_banner{
    height:20rem;
    position: relative;
    div#top_banner_contents{
        position: relative;
        max-width: $view_max;
        margin: 0 auto;
        padding: 5rem 0;
        z-index: 5;
        height:100%;
    }
    div#blur_bg{
        position: absolute;
        z-index: 1;
        width:100%;
        height:100%;
        top:0;
        bottom: 0;
        background-color: rgba(37, 27, 19, 0.5);
    }
}

// HEADER FOR LOGIN USER
header.login{
    display:flex;
    justify-content: unset;
    position: relative;
}
div.user_field{
    position: absolute;
    right:0;
    display:flex;
    img.user_photo{
        border-radius: 20px;
    }
    a.user_field_text{
        display:flex;
        flex-direction: column;
        padding-left: .5rem;
    }
}
span.user_name, span.user_email{
    font-weight: 400;
}
span.user_email{
    font-size: $t_small;
}

// ******************************************************
// SIGNUP PAGE
section.signup{
    max-width: $view_narrow;
    margin: 0 auto;
    text-align: center;
}
form.signup{
    display:grid;
    grid-template-columns: 1.5fr 2fr;
    row-gap: 1rem;
    margin: 2rem 1rem;
    padding: 1rem;
    border: 1px solid $box_border;
    input{
        background: none;
        outline: 0;
        border-width: 0 0 1px;
        border-color: #fff;
        color:$accent;
    }
    input::placeholder{
        color:#b1b1b1;
        font-style: italic;
    }
    input[type=submit]{
        grid-column: 1/3;
        background-color: $accent_dark;
        color:$text;
        border: none;
        padding: .5rem 0;
    }
}
img.google{
    width: 50%;
}
// ******************************************************
p#banner_intro{
    max-width: 50ch;
}
button.banner_btn{
    @include button();
}
